/*
ANIMATION
1. animate a linear gradient line below .navbar-link when .navbar-toggler-icon is pressed
2. hovering .navbar-link changes color of line below
3. scrolling animation (.img_overlay_home) in Home section
*/

/* Home */
.img_home {
    position: relative;
    width: 100%;
}

.img_100 {
    background-image: url("assets/images/index/soldering.png");
    background-position: center center;
    background-repeat: center;
    background-size: cover;
    width: 100%;
}

.img_overlay_home {
    background: -webkit-linear-gradient(315deg, #e5d25e26 0%, #0C0B0557 61.8%, #02010182 76.4%, #000000bf 100%);
    padding-bottom: calc(100% / 16 * 9);
    position: relative;
    top: 0;
    /* width: 100vw; */
}

.t_home {
    letter-spacing: .15rem;
    position: absolute;
    right: calc(var(--padding) + 1.5rem);
    --home_text_percentage: 80%;
}

h1.t_home {
    font-size: 4rem;
    font-weight: 600;
    text-align: right;
    top: calc(var(--home_text_percentage) * var(--ratio));
}

h3.t_home {
    font-size: 2rem;
    font-weight: 100;
    text-align: right;
    top: calc(var(--home_text_percentage) * var(--ratio) + 6rem);
}

#b_aboutMe {
    background-color: #E1545E;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0;
    padding: 1rem 3rem;
    top: calc(var(--home_text_percentage) * var(--ratio) + 10rem);
}

#b_aboutMe:hover, #b_news:hover {
    filter: saturate(150%);
}

/* Projects */
.proj_card {
    --box-shadow: 2px 2px 10px rgba(0,0,0,0.75);
    border-radius: 2%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    padding: 1.5vw;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
}

.proj_card:hover {
    --box-shadow: 2px 2px 10px rgba(100,100,100,0.75);
}

img.project {
    border-radius: 1%;
    width: 100%;
}

h2.project {
    font-weight: 600;
    margin: 1rem auto .5rem;
}

p.project {
    margin: auto auto 1.5rem;
}

/* Achievements */
.card {
    background-color: transparent;
    color: var(--black);
    cursor: pointer;
}

.card:hover {
    outline: solid 3px rgba(100,100,100,0.75);
}

.card-body {
    background-color: var(--white);
}

.carousel.achievement {
    display: none;
}

/* News */
#news, #work {
    overflow-x: hidden;
    padding: calc(var(--padding)/2) 0;
    position: relative;
}

.img_news_settings {
    height: 85vh;
    min-width: 500px;
    overflow: hidden;
    position: relative;
    width: calc(var(--ratio) * 100vw);
}

.img_news {
    background-image: url("assets/images/index/Newspaper Template.png");
    background-position: top center;
    background-repeat: round;
    border-radius: .5rem 0 0 .5rem;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.img_work {
    background-image: url("assets/images/index/vitrox_building.jpg");
    background-repeat: round;
    border-radius: 0 .5rem .5rem 0;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.img_overlay_news, .img_overlay_work {
    background: -webkit-linear-gradient(-90deg, #768A87aa, #181C1Baa);
    border-radius: .5rem 0 0 .5rem;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.img_overlay_work {
    background: -webkit-linear-gradient(-90deg, #86768Aaa, #181C1Baa);
    border-radius: .5rem 0 0 .5rem;
}

.section.content_news {
    position: absolute;
    top: calc( var(--gold) * var(--gold) * var(--gold) * 100%);
    width: 100%;
}

.col.content_news {
    height: 80vh;
    max-height: 800px;
}

img.content_news {
    border-radius: .5rem;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.col-md-12.content_news {
    min-height: 200px;
}

h2.content_news {
    text-align: right;
    /* top: calc(var(--home_text_percentage) * var(--ratio) + 4rem); */
    bottom: calc(var(--ratio) * 100px + 6rem);
}

hr.content_news {
    background: -webkit-linear-gradient(0deg, #fff, #a859c4);
    border: none;
    bottom: calc(var(--ratio) * 100px + 5.5rem);
    height: .2rem;
    opacity: 1;
    max-width: calc(33.333% - var(--padding));;
    /* top: calc(var(--home_text_percentage) * var(--ratio) + 7rem); */
    width: calc(var(--ratio) * 100vw);
}

#b_news {
    background-color: #E17B54;
    border: none;
    border-radius: .5rem;
    bottom: calc(var(--ratio) * 100px + 2rem);
    color: var(--white);
    font-weight: 300;
    letter-spacing: 0;
    padding: .5rem 1.5rem;
    /* top: calc(var(--home_text_percentage) * var(--ratio) + 10rem); */
}

/* Work */
.header.content_work {
    letter-spacing: .15rem;
    text-align: left;
    margin-bottom: .5rem;
}

.col_382.content_work{
    font-size: 1.1rem;
    line-height: 2em;
    padding: 0 var(--padding);
    z-index: 1;
}

p.content_work {
    text-shadow: 0 0 1px var(--black);
}

img.content_work {
    bottom: calc(var(--gold) * 50%);
    border-radius: .5em;
    left: calc(61.8vw - var(--gold) * 100vw);
    position: absolute;
    width: calc(var(--gold) * 100vw);
}

img.content_work.show {
    border-radius: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    top: calc((85vh - 100vw / 9 * 5) / 2);
}

/* Gallery */
.gallery.img_100 {
    background-image: url("assets/images/index/gallery.jpg");
    height: 100vh;
    margin: auto;
}

.galleryContent {
    position: relative;
    text-align: center;
    top: calc(var(--gold) * 100vh);
    /* width: calc(100vw - var(--padding) * 2); */
}

h1.gallery {
    font-size: 5rem;
    letter-spacing: .2rem;
    line-height: 1.25em;
}

hr.gallery {
    background: -webkit-linear-gradient(0deg, #599DC4, #A859C4);
    border: none;
    bottom: calc(var(--ratio) * 100px + 5.5rem);
    height: .2rem;
    margin: auto;
    opacity: 1;
    width: calc(var(--ratio) * 100vw);
}

div.gallery.mt-4 {
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
}

button.gallery {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 100%;
    color: var(--white);
    height: 1.5em;
    text-align: center;
    width: 1.5em;
}

span.gallery {
    font-style: italic;
    font-weight: 300;
}

button.gallery:hover, span.gallery:hover {
    filter: brightness(1.5);
}

@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }
    /* News */
    /* #news {
        height: calc( var(--gold) * var(--gold) * var(--gold) * 100% + 6rem + var(--ratio) * 100vh + 80vh);
    } */
    .col.content_news {
        height: auto;
    }
    img.content_news {
        height: auto;
    }
    hr.content_news {
        max-width: 350px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 2vw;
    }
    /* Navbar */
    .navbar {
        padding: .5rem;
    }
    .img_overlay_home {
        height: 100%;
    }
    svg {
        scale: .6;
    }
    /* Home */
    .t_home {
        --home_text_percentage: 100vh;
    }
    /* Project */
    .project_col {
        padding: 0 1rem !important;
        width: inherit;
    }
    img.project {
        height: calc((100vw - var(--padding)*2)/16*9);
        object-fit: cover;
        width: calc(100vw - var(--padding)*2);
    }
    svg.project {
        display: none;
    }
    /* Achievements */
    img.achievement {
        height: 38.2vh;
        object-fit: cover;
    }
    .row.achievement {
        display: none;
    }
    .carousel.achievement {
        display: inherit;
    }
    /* News */
    .col.content_news:not(.col-md-12.content_news) {
        height: calc(var(--ratio) * 100vh);
        max-height: 400px;
        width: 100%;
    }
    img.content_news {
        height: 100%;
        width: inherit;
        object-fit: cover;
        object-position: top; 
    }
}