/*
Contact Manager
1. Scrolling minimise the icon size
*/

:root{
    --padding: calc(100vw * 0.078);
    
    --ratio: 0.618;
    --gold: calc(1 - var(--ratio));
    
    --base-color: rgba(17,10,10,0);
    --black: #171010;
    --white: #F8F2F2;

    --margin-of-fa_contact_manager: 1.5rem;
    --size-of-fa_contact_manager: 2em;
    --no-of-fa_contact_manager: 4;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* Navbar */
.navbar {
    padding: 0.5rem var(--padding);
}

.navbar-toggler {
    border: none;
}
  
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 242, 242, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
    background: -webkit-linear-gradient(90deg, var(--base-color) 0%, var(--base-color) 50%, var(--base-color) 100%);
    position: absolute;
    width: 100%;
    z-index: 20;
}

.nav-link {
    border-radius: 10px 10px 0px 0px;
    height: 3.5rem;
    padding: 0.5rem var(--padding);
    margin: 0.5rem;
}

.navbar-collapse {
    margin: 0.5rem;
    position: fixed;
}

.navbar_scrollable {
    position: relative;
    top: 4.5rem;
    width: 99%;
}

.dropdown-menu.show {
    margin: 0 var(--padding) !important;
}

/* Content Default Settings*/

html {
    font-size: 16px;
}

body :not(svg) {
    font-family: 'Montserrat', Courier, monospace;
    
}

.section {
    padding: calc(var(--padding)/2) var(--padding) 0;
}

/* Contact Manager */
.contact_manager {
    position: relative;
    z-index: 20;
}

.contact_manager:not(a) {
    position: fixed;
    right: 0.5rem;-color: silver;
    top: calc((100vh - var(--margin-of-fa_contact_manager) * var(--no-of-fa_contact_manager) * 2 - var(--size-of-fa_contact_manager) * var(--no-of-fa_contact_manager)) / 2);
}
a.contact_manager {
    color: var(--white);
}
a.contact_manager:hover {
    color: #C7B885;
}

.fa_contact_manager {
    margin: 1.5rem;
}

/* Golden Ratio */
.col_618 {
    width: calc(var(--ratio) * 100%);
}

.col_382 {
    width: calc(( 1 - var(--ratio)) * 100%);
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 3px;
    width: 5px;
}
::-webkit-scrollbar-thumb:not(:hover) {
    background: #888;
    border-radius: 100px;
}

::-webkit-scrollbar:hover, ::-webkit-scrollbar:active {
    width: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}