/* Header */
.header {
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

/* Card */
.card {
    --box-shadow: 2px 2px 10px rgba(0,0,0,0.75);
    background-color: transparent;
    box-shadow: var(--box-shadow);
    display: inline-block;
    margin-bottom: 1em;
    max-width: 90%;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
}

.img-fluid {
    aspect-ratio: 16 / 9;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card-link {
    color: #C4963B !important;
}

/* iFrame */
.list-group-item > iframe {
    height: calc(var(--gold) * 100vw * 9/ 16);
    width: calc(var(--gold) * 100vw);
}