body {
    overflow-x: hidden;
}

/* Heading Image */
.profile {
    position: relative;
    --profile_dimension: calc(var(--gold) * var(--gold) * 150vw);
    height: calc(var(--profile_dimension) * 17 / 22);
    max-height: 500px;
    min-height: 400px;
    min-width: 200px;
    width: var(--profile_dimension);
}

.img_profile {
    background-image: url("../assets/images/aboutMe/profile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.img_backdrop {
    background-image: none;
    background-color: #BF7C24;
    height: 100%;
    --img_border: calc(var(--padding) * var(--gold) * var(--ratio));
    left: var(--img_border);
    top: var(--img_border);
    position: absolute;
    width: 100%;
    z-index: -5;
}

/* Text */
.text.section {
    background-color: var(--white);
    border-bottom: 5em;
    border-radius: 1em;
    color: var(--black);
    padding-bottom: 1em;
    position: absolute;
    right: calc(3rem + var(--padding));
    top: 3rem;
    width: calc(var(--ratio) * 100vw);
    z-index: -2;
}

hr.text {
    background: -webkit-linear-gradient(0deg, #DF2424 calc(var(--ratio) * var(--ratio) * var(--ratio) * 100%), #fff 100%);
    border: none;
    height: .2rem;
    opacity: 1;
    width: calc(var(--ratio) * 100%);
}

a.text {
    display: inline-block;
    position: relative;
    z-index: 200;
}

button.resume {
    background-color: #E1545E;
    border: none;
    border-radius: .5em;
    top: calc(100% + var(--padding));
    color: var(--white);
    font-size: 1.2em;
    font-weight: 200;
    left: var(--padding);
    padding: calc(var(--ratio) * 1em);
    position: absolute;
    text-align: center;
    width: 100%;
}

button.resume:hover {
    background-color: #DA303C;
}

@media screen and (max-width: 992px) {
    .profile {
        --profile_dimension: calc(var(--gold)  * (100vw - var(--padding) * 2));
    }
    .text.section {
        width: calc(var(--ratio) * (100vw - var(--padding) * 2));
    }
}

@media screen and (max-width: 576px) {
    .text.section {
        left: var(--padding);
        margin-bottom: 5em;
        position: relative;
        width: calc(100vw - var(--padding) * 2);
    }
    .img_profile, button.resume {
        border-radius: .5em;
        left: 0;
        top: 0;
    }
    .img_profile {
        margin-top: 1.5em;
        position: relative;
        width: calc(100vw - var(--padding) * 2);
    }
    
    button.resume {
        font-size: 1em;
        position: relative;
        top: 1em;
        width: calc(100vw - var(--padding) * 2);
    }
}