/* Header */
.header {
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

/* Card */
.card {
    background-color: transparent;
    display: inline-block;
    margin-bottom: 1em;
    /* padding: 0 var(--padding); */
}

.img-fluid, .card-img-top {
    border-radius: 10px;
}

span.card-subheader {
    font-size: .8rem;
    padding-left: .5rem;
}

.card-link {
    color: #C4963B;
}