/* Header */
h1.header {
    font-weight: 600;
    text-align: left;
    text-transform: none;
}

/* Card */
.card {
    background-color: transparent;
    display: inline-block;
    margin-bottom: 1em;
    /* padding: 0 var(--padding); */
}

.img-fluid, .card-img-top {
    border-radius: 10px;
}

/* Innovations Page with ID */
/* List Item Group*/
.list-group-item {
    background-color: transparent;
    border: none;
}

span.card-subheader {
    font-size: .8rem;
    padding-left: .5rem;
}

.card-link {
    color: #C4963B;
}

/* iFrame */
.list-group-item > iframe {
    height: calc(var(--gold) * 100vw * 9/ 16);
    width: calc(var(--gold) * 100vw);
}

@media screen and (max-width: 992px) {
    .card {
        min-width: 325px;
        max-width: calc((95vw - var(--padding) * 2) / 2);
        padding-right: 0;
    }

    .list-group-item > iframe {
        --iframe_scale: 0.8;
        height: calc((100vw - var(--padding) * 2) * 9 / 16 * var(--iframe_scale));
        width: calc((100vw - var(--padding) * 2) * var(--iframe_scale));
    }
}


@media screen and (max-width: 576px) {
    .card {
        min-width: initial;
        max-width: initial;
    }

    .list-group-item > iframe {
        --iframe_scale: 1;
    }
}